Pandas package is useful for data manipulation, import, structre. Next import it. The 'as' is to use pandas under "pd", so it can be refered to with that.

## Learning Objectives
One of the reasons why Python is such a popular programming language for machine learning is because it supports some very powerful and easy to use packages which are purpose-built for data analysis. One of these packages is the **pandas** package. In this exercise, you will get a brief introduction to the pandas package and how to import data using functions provided by the pandas package. By the end of this tutorial, you will have learned:

+ what a pandas Series is
+ what a pandas DataFrame is
+ how to import data from a CSV file
+ how to import data from an Excel file

In [1]:
import pandas as pd

Panda series is an arrey like structre with labels from a list from the members with a series constrcutor.

In [2]:
members = ["Brazil", "Russa", "India", "China", "SA"]
brics1 = pd.Series(members)
brics1

0    Brazil
1     Russa
2     India
3     China
4        SA
dtype: object

In [3]:
type(brics1)

pandas.core.series.Series

Pandas dataframe-kként reprezentálja a dolgokat. Ez nagyon hasonló a SpreadSheet-hez, label-el

# Creating DataFrames from dictonaries
Az alább egy diconary with a list is given. which will be converted to a spreadsheet. The Dict key is the header, while the list items are the rows.

In [5]:
members = {"country" : ["Brasil", "Russia", "India"],
           "capital" : ["Brailia", "Moscow", "New Delhi"],
           "gpd": [2750, 1658, 3202]}
brics2 = pd.DataFrame(members)
brics2

  country    capital   gpd
0  Brasil    Brailia  2750
1  Russia     Moscow  1658
2   India  New Delhi  3202

Ha egy listában a row-k vannak meg és külön a header, azt is belehet hivni, máshogy. Az alábbi módon.

In [6]:
members = [["Brazil", "Brazilia", 2750],
           ["Russia", "Moscow", 1658],
           ["India", "New Delhi", 3202]]
label = ["country", "capital", "gdp"]
brics3 = pd.DataFrame(members, columns=label)
brics3

  country    capital   gdp
0  Brazil   Brazilia  2750
1  Russia     Moscow  1658
2   India  New Delhi  3202

# Import CSV

In [ ]:
brics4 = pd.read_csv("brics.csv")

# Import Excel

In [ ]:
brics5 = pd.read_excel("brics5.xlsx")

Ez alapból csak az első sheet-t olvassa be, ha mást szeretnénk, akkor egy második argument-t kell beadnunk "sheet_name" alatt.